<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.udacity.pmovies">

    <permission android:name="com.udacity.pmovies.provider.READ_WRITE"/>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- Consider back up user data with Auto Backup -->
    <!-- https://developer.android.com/guide/topics/data/autobackup -->
    <application
        android:name=".application.PMoviesApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Accepts URIs that begin with "http://api.themoviedb.org/3/” -->
                <data android:scheme="http"
                    android:host="api.themoviedb.org"
                    android:pathPrefix="/3" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.DetailFilmActivity" />

        <provider
            android:name=".provider.FavoriteMoviesContentProvider"
            android:authorities="com.udacity.pmovies.provider"
            android:exported="true"
            android:permission="com.udacity.pmovies.provider.READ_WRITE"/>

    </application>

</manifest>